

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #D79160;
}

.container {
  background: url(/img/BG.png) repeat;
}

.studio {
  text-shadow: 2px 2px black;
  color: white;
}

.social {
  text-shadow: 2px 2px black;
  color: white;
}

.social:hover {
  text-shadow: 0px 0px black;
}

.navbar-header h1 {
  text-shadow: 2px 2px black;
  color: white;
}

.non-padding {
  padding: 0;
}

.platform {
  margin: 0;
  width: 100%;
}

.slippo-sleep {
  margin-bottom: -3px;
}

.center-text {
  text-align: center;
}

.clound-box {
  margin-left: -50px;
  margin-top: -30px;
}

.text-box {
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0.0);
}

.auto-margin-left {
  margin-left: auto;
}

.padding-extra {
  padding-bottom: 5px;
}

.appstore {
  background-image: url(/img/App_Store_135x40.svg);
  display: block;
  text-indent: -9999px; 
}

#playstore {
  background-image: url(/img/Google_play.png);
  display: block;
  text-indent: -9999px;
  width: 129px;
  height: 45px;
}

.how-to-play {
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,0.0);
  margin: 0 auto;
  text-align: center;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.navbar.navbar-inverse {
  background-color: red;
}

.navbar-brand {
  color: black;
}

@media (max-width: 768px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}